# üêº Pandas Practice Notebook
This notebook covers basic to intermediate Pandas functions commonly used in data analytics interviews.

## üì• Data Loading & Saving

In [ ]:
import pandas as pd

# Load CSV file
df = pd.read_csv('sample.csv')  # Replace with actual file path

# Save to CSV
df.to_csv('output.csv', index=False)

# Load Excel file
df_excel = pd.read_excel('sample.xlsx')  # Replace with actual file path

# Save to Excel
df_excel.to_excel('output.xlsx', index=False)

## üß± DataFrame Creation

In [ ]:
# Create DataFrame from dictionary
data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35]}
df = pd.DataFrame(data)

# Create Series
s = pd.Series([10, 20, 30])

## üîç Data Inspection

In [ ]:
df.head()
df.tail()
df.shape
df.info()
df.describe()
df.columns
df.index
df.dtypes

## üéØ Selection & Filtering

In [ ]:
df['Name']
df[['Name', 'Age']]
df.loc[0]
df.iloc[1]
df[df['Age'] > 30]

## ‚ùì Missing Data Handling

In [ ]:
df.isnull()
df.notnull()
df.dropna()
df.fillna('Unknown')

## üõ†Ô∏è Data Manipulation

In [ ]:
df.rename(columns={'Name': 'Full Name'})
df.drop(columns=['Age'])
df.sort_values(by='Age')
df.reset_index(drop=True)
df.set_index('Name')

## üìä Aggregation & Grouping

In [ ]:
df.groupby('Name').mean()
df.groupby('Name').agg({'Age': 'sum'})
df.pivot_table(values='Age', index='Name', columns='Gender')

## üßÆ Apply Functions

In [ ]:
df['Age'].apply(lambda x: x + 1)
df['Name'].map(lambda x: x.upper())
df.apply(lambda row: row['Age'] * 2, axis=1)

## üîó Merging & Joining

In [ ]:
df1 = pd.DataFrame({'ID': [1, 2], 'Name': ['Alice', 'Bob']})
df2 = pd.DataFrame({'ID': [1, 2], 'Age': [25, 30]})

pd.merge(df1, df2, on='ID')
pd.concat([df1, df2], axis=1)
df1.join(df2.set_index('ID'), on='ID')

## üî¢ Value Counts & Duplicates

In [ ]:
df['Name'].value_counts()
df.duplicated()
df.drop_duplicates()

## üìÖ Datetime Handling

In [ ]:
df['date'] = pd.to_datetime(df['date'])
df['date'].dt.year
df['date'].dt.month
df['date'].dt.day
df['date'].dt.strftime('%Y-%m-%d')